.navigation {
    margin-left: auto;
    margin-right: 40px;
}

@media screen and (max-width : $content-media-burger) {
    .navigation {
        display: none;
    }
}

.navigation-menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navigation-menu__item {
    text-decoration: none;
    color: $color-light;
    line-height: 50px;
    cursor: pointer;
    @extend %transition;

    &:hover {
        color: $color-primary;
    }
}

@media screen and (max-width : $content-media-burger) {
    .navigation {
        align-self: self-start;
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 332px;
        height: 570px;
        background-color: $color-transparent;
        margin: 0;
        overflow: hidden;
    }

    .navigation-menu {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        right: -332px;
        width: 100%;
        height: 470px;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 100px 0 0 0;
        padding-bottom: 100px;

        transition: transform 0.9s ease, background-color 0.9s ease;
    }

    /* open */

    .navigation_open .navigation-menu {
        transform: translateX(-100%);
        background-color: $color-background;
        z-index: 1;
    }
}