.pop-up {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    background-color: $color-popup;
    z-index: 100;

    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.3px;
    transition: all 0.7s ease;
}

.pop-up_opened {
    visibility: visible;
    opacity: 1;
}

.pop-up__window {
    box-sizing: border-box;
    width: 250px;
    position: relative;
    background: $color-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 25px;
}

.login {
    height: 262px;
}

.register {
    height: 382px;
}

.my-profile {
    width: 600px;
    height: 400px;
    padding: 0;
    align-items: start;
    display: flex;
    flex-direction: row;
}

.pop-up__heading {
    display: block;
    color: $color-text;
    font-family: Forum;
    font-size: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.pop-up__close {
    width: 18px;
    height: 18px;
    background-image: url(/library/img/pop-up/close_btn.svg);
    position: absolute;
    top: 13px;
    right: 15px;
    cursor: pointer;
    opacity: 1;

    &_my-profile {
        top: 23px;
        right: 25px;
    }

    &:hover {
        background-image: url(/library/img/pop-up/close_btn\ copy.svg);
    }
}

.pop-up-form {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.input-field {
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    border: 1px solid $color-primary;
}

.input-cancel {
    border-color: red;
}

.pop-up__button {
    margin-top: 10px;
    width: 75px;
    height: 30px;

    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
}

.form-checked {
    display: flex;
    gap: 10px;
    align-items: center;

    font-size: 10px;
    line-height: normal;
    letter-spacing: 0px;
}

.pop-up label span {
    display: block;
    margin-bottom: 10px;
}

.form-link {
    color: $color-background;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration-line: none;
    line-height: normal;
    border-bottom: 1px solid $color-text;
    cursor: pointer;
    transition: all 0.5s;
}

.form-link:hover {
    color: $color-primary;
    border-color: $color-primary;
}

//my profile

.my-profile__left {
    width: 170px;
    height: 100%;
    background-color: $color-background;
}

.my-profile__left__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: $color-light;
    margin: 139px 45px 15px;

}

.my-profile__userTag {
    color: $color-primary;
    @include font(2rem, normal, 400, 2rem);
}

.my-profile__left__userName {
    width: 120px;
    background-color: $color-light;
    margin: auto;
    text-align: center;
    @include font(2rem, normal, 400, 2rem);
    text-transform: uppercase;
}

.my-profile__right {
    position: relative;
    box-sizing: border-box;
    padding: 39px 20px;
    width: 430px;
    height: 100%;
}

.my-profile__right__heading {
    @extend %font-add;
    @include font(4rem, 0.08rem, 400, 2rem);
    text-transform: uppercase;
    margin-bottom: 40px;
}

.my-profile__status {
    width: 237px;
    height: 81px;
    display: flex;
    gap: 20px;
}

.status__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    @include font(2rem, 0.04rem, 400, 2rem);
}

.status__item__icon {
    width: 20px;
    height: 21px;

    &_visits {
        background-image: url(../img/my-profile/Star\ 1.svg);
    }

    &_bonuses {
        background-image: url(../img/my-profile/Union.svg);
    }

    &_books {
        background-image: url(../img/my-profile/book.svg);
    }
}

.status__item__count {
    @include font(1rem, 0.02rem, 400, 2rem);
}

.rented-books {
    
    box-sizing: border-box;
    padding-top: 20px;
}

.rented-books__heading {
    margin-bottom: 30px;
    @include font(2.5rem, normal, 400, 2rem);
}

.rented-books__container{
    overflow-x: auto;
    overflow-y: auto;
    height: 60px;
}

.rented-books__list li {
    width: 800px;
    margin-left: 25px;
    @include font(2rem, 0.2rem, 400, 2rem);
    text-transform: capitalize;
}

.card-number {
    position: absolute;
    bottom: 40px;
    display: flex;
    align-items: center;
    gap: 15px;

    @include font(2rem, normal, 400, 2rem);
}

.my-profile__card-number {
    color: $color-primary;
}

.copy__card-number {
    width: 13.31px;
    height: 12px;
    background-image: url(../img/my-profile/icon-copy.svg);
}

// buy

.buy {
    width: 650px;
    height: 540px;
    padding: 0;
}

.buy__heading {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 20px;
    background-color: $color-background;
    color: $color-light;
    @extend %font-add;
    @include font(4rem, 0.08rem, 400, 2rem);
    text-align: center;
}

.buy__container {
    box-sizing: border-box;
    padding: 30px 40px 40px;
    display: flex;
    align-items: start;
    gap: 40px;
}

.buy-form {
    margin: 0;
    height: 410px;
}

.buy-form__data {
    display: flex;
    gap: 10px;
}

.input-field_mini {
    width: 45px;
    &_margin {
        margin-bottom: 10px;
    }
}

.buy-form__bottom {
    display: flex;
    align-items: end;
}

.pop-up__button_buy {
    margin-right: 25px;
}

.buy__cost {
    display: block;
    text-align: end;
    @include font(2rem, 0.2rem, 700, 2rem);
    text-transform: uppercase;
}

.buy__content {
    width: 330px;
    color: $color-popup;
    @include font(1.5rem, 0.2rem, 400, 2rem);
}