.profile {

    position: absolute;
    top: 80px;
    right: 20px;

    width: 80px;
    height: 115px;
    background: $color-light;
    visibility: hidden;
    opacity: 0;
    transition: all 1.5s ease;
    z-index: 2;

    &_open {
        visibility: visible;
        opacity: 100%;
    }
}

@media screen and (max-width : $content-media-burger) {
    .profile {
        right: 105px;
    }
}

.profile__name {
    width: 48px;
    margin: 5px auto 0px auto;
    color: $color-text;

    @include font(1.5rem, normal, 700, 2rem);

    &::after {
        content: '';
        display: block;
        margin: auto;
        padding-bottom: 5px;
        width: 40px;
        height: 1px;
        border-bottom: 1px solid $color-primary;
    }
}

.profile_auth__name {
    margin: 8px auto 0 auto;
    width: 70px;
    text-align: center;
    font-size: 1.2rem;
}

.profile__items {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile__item {
    color: $color-text;

    text-align: center;
    @include font(1.5rem, normal, 400, 2rem, normal);
    cursor: pointer;
    @extend %transition;

    &:hover {
        color: $color-primary;
    }
}

