.welcome {
    width: 100%;
    height: 600px;
    background-image: url(../../img/welcome/85c1859f825ed82614b2036bc8be037f.jpeg);
    background-size: 100% auto;
    background-position: 50%;
}

.welcome__heading {
    display: none;
}

.welcome__gradient {
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, $color-background 0%, $color-background 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.welcome__text {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 600px;
    width: 78%;
    margin-top: -80px;
    padding: 35px 40px;

    background: $color-background;

    color: $color-light;
    text-align: center;
    @extend %font-add;
    @include font(4rem, 0.3rem, 400, 5rem);
    text-transform: uppercase;
}