$color-background: #0C0C0E;
$color-text: #000000;
$color-primary: #BB945F;
$color-light: #FFFFFF;
$color-placeholder: #8E8E8E;
$color-transparent: #ffffff00;
$color-popup: #0c0c0e8e;

$content-width: 1440px;
$content-media-burger: 1065px;
