@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-size: 2rem;
    font-family: 'Inter', Verdana, sans-serif;
}

body.lock {
    overflow: hidden;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* ---------------header--------------- */

.header {
    position: relative;
    background-color: #0C0C0E;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
}

.header__heading {
    position: relative;
    width: 294px;
    margin-left: 20px;

    color: #FFF;
    font-family: 'Forum', cursive;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.header-nav {
    margin-left: auto;
    margin-right: 40px;
}

@media screen and (max-width : 1065px) {
    .header-nav {
        display: none;
    }
}

.header-nav-menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.header-nav-menu__item {
    text-decoration: none;
    color: #FFF;
    line-height: 50px;
    cursor: pointer;
    transition: color 0.5s;
}

.header-nav-menu__item:hover {
    color: #BB945F;
}

.header__icon {
    width: 28px;
    height: 28px;
    display: flex;
    border: 0;
    padding: 0;
    background-color: #ffffff00;
    cursor: pointer;
}

.header__icon_noAuthProfile path {
    fill: #FFFFFF;
    transition: fill 0.5s;
}

.header__icon:hover .header__icon_noAuthProfile path {
    fill: #BB945F;
}

@media screen and (max-width : 1065px) {
    .header__icons {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }

    .header__icon {
        margin-right: 40px;
    }
}

.header__burger {
    display: none;
}

@media screen and (max-width : 1065px) {
    .header__burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 7px;
        width: 45px;
        height: 32px;
        padding: 0;

        background-color: #ffffff00;
        border: none;
        cursor: pointer;
        transition: opacity .3s;
        z-index: 2;
    }

    .header__burger__line {
        width: 45px;
        height: 2px;
        background-color: #FFF;
        transition: .5s, background-color .25s, transform .5s;
        will-change: transform;
    }

    .header__burger:hover .header__burger__line {
        background-color: #BB945F;
    }

    /* x */

    .header.open .header__burger__line:nth-child(1) {

        transform-origin: left;
        transform: translateY(-6px) rotate(45deg);
    }

    .header.open .header__burger__line:nth-child(2) {
        opacity: 0;
    }

    .header.open .header__burger__line:nth-child(3) {
        transform-origin: left;
        transform: translateX(-2px) translateY(8px) rotate(-45deg);
    }

    /* menu */

    .header-nav {
        align-self: self-start;
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 332px;
        height: 570px;
        background-color: #b86a1c00;
        margin: 0;
        overflow: hidden;
    }

    .header-nav-menu {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        right: -332px;
        width: 100%;
        height: 470px;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 100px 0 0 0;
        padding-bottom: 100px;

        transition: transform .5s ease, background-color 1s ease;
        will-change: transform;
    }

    /* open */

    .header-nav_open .header-nav-menu {
        transform: translateX(-100%);
        background-color: #0c0c0e;
        z-index: 1;
    }
}

.noAuthProfile {

    position: absolute;
    top: 80px;
    right: 20px;

    width: 80px;
    height: 115px;
    background: #FFF;
    visibility: hidden;
    opacity: 0;
    transition: all 1.5s ease;
    z-index: 2;
}

.noAuthProfile_open {
    visibility: visible;
    opacity: 100%;
}

@media screen and (max-width : 1065px) {
    .noAuthProfile {
        right: 105px;
    }
}

.noAuthProfile__name {
    width: 48px;
    margin: 5px auto 0px auto;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.noAuthProfile__name::after {
    content: '';
    display: block;
    margin: auto;
    padding-bottom: 5px;
    width: 40px;
    height: 1px;
    border-bottom: 1px solid #BB945F;
}

.noAuthProfile__items {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.noAuthProfile__item {
    color: #000;

    text-align: center;
    font-size: 15px;
    line-height: 20px;
    cursor: pointer;
    transition: color 0.5s;
}

.noAuthProfile__item:hover {
    color: #BB945F;
}

/* ---------------section welcome--------------- */

.welcome {
    width: 100%;
    height: 600px;
    background-image: url(./img/welcome/85c1859f825ed82614b2036bc8be037f.jpeg);
    background-size: 100% auto;
    background-position: 50%;
}

.welcome__heading {
    display: none;
}

.welcome__gradient {
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);
}

.welcome__text {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    max-width: 600px;
    width: 78%;
    height: 220px;
    margin: 0;
    margin-top: -80px;
    padding: 35px 40px;

    background: #0C0C0E;

    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* ----------heading---------- */

.heading {
    color: #0C0C0E;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.heading::after {
    content: "";
    display: block;
    width: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #0C0C0E;
    margin: auto;
}

/* ---------------section about--------------- */

.about__heading {
    margin: 20px auto 0 auto;
}

.about__text {
    margin: 40px auto 0 auto;
    color: #000;
    text-align: center;
    line-height: 40px;
}

@media screen and (max-width : 1024px) {
    .about__text {
        width: 94.8%;
    }
}

.about__sliderWithCarrets {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.about__slider {
    margin: 0 20px;
    width: 1400px;
    overflow: hidden;
    height: 560px;
}

@media screen and (max-width : 1439px) {
    .about__slider {
        width: 925px;
        margin: 0 auto;
    }
}

@media screen and (max-width : 1024px) {
    .about__slider {
        height: 560px;
        max-width: 450px;
        width: 58%;
        margin: 0;
    }
}

.about__images {
    display: flex;
    gap: 25px;
    justify-content: start;
    transition: transform 1s ease;
}

.about__slider.point_1 .about__images {
    transform: translateX(-475px);
    transition: transform 1s;
    will-change: transform;
}

.about__slider.point_2 .about__images {
    transform: translateX(-950px);
    transition: transform 1s;
    will-change: transform;
}

@media screen and (max-width : 1439px) {
    .about__slider.point_3 .about__images {
        transform: translateX(-1425px);
        transition: transform 1s;
        will-change: transform;
    }
}

@media screen and (max-width : 1024px) {
    .about__slider.point_4 .about__images {
        transform: translateX(-1900px);
        transition: transform 1s;
        will-change: transform;
    }
}

.about__images {
    transform: translateX(0px);
    transition: transform 1s;
    will-change: transform;
}


.about__carret {
    display: none;
}

@media screen and (max-width : 1024px) {
    .about__carret {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff00;
        border: 0;
        padding: 0;
        height: 560px;
        width: 145px;
    }

    .about__carret img {
        margin-top: 40px;
    }

    .about__carret:disabled {
        opacity: 30%;
    }
}

@media screen and (max-width : 860px) {
    .about__carret {
        max-width: 145px;
        width: 16%;
    }
}

.about__points {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 35px auto 55px auto;
}

@media screen and (max-width : 1024px) {
    .about__points {
        margin-top: 20px;
    }
}

.about__pointer {
    background-color: #ffffff00;
    border: 0;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.about__pointer_none {
    display: none;
}

@media screen and (max-width : 1439px) {
    .about__pointer_none1440 {
        display: block;
    }
}

@media screen and (max-width : 1024px) {
    .about__pointer_none {
        display: block;
    }
}

.about__point {
    width: 16px;
    height: 16px;
    margin: 5px auto;
    background-color: #0C0C0E;
    border-radius: 50%;
}

.about__point_checked {
    background-color: #BB945F;
}

.favorites__text {
    width: 234px;
    margin: 40px auto 35px 20px;
    color: #000;
    text-align: center;
    font-weight: 700;
    line-height: normal;
}

.favorites__seasons {
    height: 44px;
    margin: 25px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 60px;

    position: sticky;
    top: 0px;
    background-color: #FFF;
    z-index: 2;
}

.favorites__seasons__label {
    position: relative;
    padding: 5px;
    width: 126px;

    cursor: pointer;

    /* text */
    color: #000;
    transition: font-weight 0.4s ease;
}

.favorites__seasons__label input {
    position: absolute;
    height: 0px;
    width: 0px;
    opacity: 0;
}

.favorites__seasons__custom {
    position: relative;
    box-sizing: border-box;
    display: inline-block;

    height: 17px;
    width: 17px;
    border: 2px solid #000;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: auto;
}

.favorites__seasons__custom::before {
    box-sizing: border-box;
    display: inline-block;

    content: "";
    background: #000;
    width: 8px;
    height: 8px;
    border-radius: 50%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);

    transition: 0.3s ease-in;
}

.favorites__seasons__label input:checked+.favorites__seasons__custom::before {
    transform: translate(-50%, -50%) scale(1);
}

.favorites__seasons__label:has(:checked) {
    font-weight: 700;
    transition: font-weight 0.4s ease;
}

.books-conteiner {
    height: 1150px;
    position: relative;
}

@media screen and (max-width : 1400px) {
    .books-conteiner {
        height: 2340px;
    }
}

.books {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 40px 15%;
    flex-wrap: wrap;
    visibility: visible;
    opacity: 100%;
    transition: opacity 2s ease;
}

.books_disabled {
    opacity: 0%;
    visibility: hidden;
    transition: opacity 2s ease;
    z-index: -1;
}


.book {
    box-sizing: border-box;
    width: 590px;
    height: 555px;
    background: #FFF;
}

@media screen and (max-width : 640px) {

    .book {
        max-width: 590px;
        width: 80%;
    }
}

.book__border {
    box-sizing: border-box;
    position: relative;
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    padding: 15px 20px;
}

@media screen and (max-width : 640px) {
    .book__border {
        max-width: 550px;
        width: 100%;
    }
}

.book__cover {
    position: absolute;
    right: -40px;
    bottom: -1px;
}

@media screen and (max-width : 640px) {
    .book__cover {
        max-width: 200px;
        width: 33%;
    }
}

.book__staff-picks {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book__staff-picks::after {
    content: "";
    display: block;
    width: 60px;
    border-bottom: 1px solid #BB945F;
}

.book__name {

    margin: 20px 0;

    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.book__author {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.book__description {
    width: 357px;
    color: #000;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

@media screen and (max-width : 640px) {
    .book__description {
        max-width: 357px;
        width: 80%;
        font-size: 12px;
        line-height: 22px;
    }
}

.button {
    background-color: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #0C0C0E;

    color: #0C0C0E;
    text-align: center;
    cursor: pointer;
}

.book__buy-button {
    position: absolute;
    bottom: 15px;

    width: 75px;
    height: 30px;

    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;

    transition: 0.5s ease-in;
}

.button:hover {
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #BB945F;

}

.book__buy-button_own {
    border: 1px solid #BB945F;
    color: #BB945F;
    cursor: auto;
}

.book__buy-button_own:hover {
    background: #FFF;
}

/* ---------------section coffee-shop---------------- */

.coffee-shop__heading {
    margin-top: 60px;
    margin-bottom: 40px;
}

.coffee-shop__description {
    width: 97.2%;
    margin: 0 auto;
    color: #000;
    text-align: center;
    line-height: 40px;
    letter-spacing: 2px;
}

@media screen and (max-width : 1024px) {
    .coffee-shop__description {
        width: 95%;
    }
}

.coffee-shop__menu {
    display: flex;
    margin: 0 20px 60px 20px;
    justify-content: space-between;
}

.coffee-shop__menu-list {
    margin-top: 40px;
    width: 438px;
    height: 520px;

    display: flex;
    flex-direction: column;
    gap: 39px;
}

.coffee-shop__menu-heading {
    margin: 0;
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.coffee-shop__menu-row {
    display: flex;
}

.coffee-shop__menu-name {
    display: block;
    width: 200px;
    margin-right: 218px;

    color: #000;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.coffee-shop__menu-name::after {
    content: ' ';
    background: #BB945F;
    display: block;
    height: 1px;
    position: relative;
    width: 100px;
    left: 257px;
    top: -50%;
    margin-right: -100px;
}

@media screen and (max-width : 640px) {
    .coffee-shop__menu-list {
        max-width: 438px;
        width: 100%;
    }

    .coffee-shop__menu-name {
        font-size: 15px;
        margin-right: 45%;
    }

    .coffee-shop__menu-name::after {
        max-width: 100px;
        width: 22%;
        left: 128%;
    }
}

.coffee-shop__menu-price {
    display: block;
    width: 21px;
    color: #000;
    font-family: Forum;
    font-size: 20px;
    line-height: 40px;
    /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: right;
}

.coffee-shop__menu-list_right {
    width: 482px;
}

.coffee-shop__menu-heading_right {
    text-align: right;
}

.coffee-shop__menu-name_right {
    width: 234px;
    margin-right: 218px;
    text-align: right;
}

.coffee-shop__menu-name_right::after {
    left: 292px;
}

@media screen and (max-width : 1024px) {
    .coffee-shop__menu {
        flex-direction: column;
    }

    .coffee-shop__menu-list_right {
        align-self: flex-end;
    }
}

@media screen and (max-width : 640px) {
    .coffee-shop__menu-list_right {
        max-width: 438px;
        width: 100%;
    }

    .coffee-shop__menu-name_right {
        font-size: 15px;
        margin-right: 45%;
    }

    .coffee-shop__menu-name_right::after {
        max-width: 100px;
        width: 22%;
        left: 128%;
    }
}

/* ---------------section contacts--------------- */

.contacts__container {
    margin: 40px 20px 55px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width : 1024px) {
    .contacts__container {
        margin-bottom: 60px;
    }
}

.contacts__text__heading {
    margin: 0%;
    margin-bottom: 20px;

    color: #000;
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.contacts__tel {
    padding: 0%;
    list-style: none;
    margin: 40px auto;

    color: #000;
    line-height: 40px;

    letter-spacing: 2px;
    text-transform: capitalize;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contacts__tel__a {
    text-decoration: none;
    color: #000;
}

.contacts__tel__a:hover {
    text-decoration: underline;
    text-decoration-color: #BB945F;
    text-decoration-thickness: 2px;
}

.contacts__text__heading_400 a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.contacts__text__heading_400 a:hover {
    text-decoration: underline;
    text-decoration-color: #BB945F;
    text-decoration-thickness: 2px;
}

.contacts__map img {
    max-width: 100%;

}

@media screen and (max-width : 1024px) {
    .contacts__container {
        flex-direction: column;
        gap: 80px;
    }

    .contacts__map {
        margin: 0 auto -5px;
    }

    .contacts__map img {
        max-width: 100%;

    }
}

/* section library-card*/

.library-cards__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 40px 0 40px;
    padding: 0 20px;
}

@media screen and (max-width : 1024px) {
    .library-cards__container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.library-cards__left {
    width: 600px;
    height: 453px;
}

.library-cards__left__heading {
    margin-top: 0;

    color: #000;
    text-align: center;
    font-size: 30px;
    line-height: normal;
    letter-spacing: 0.6px;
}

@media screen and (max-width : 640px) {
    .library-cards__left {
        max-width: 600px;
        width: 100%;
    }
}

.library-cards__form {
    box-sizing: border-box;
    width: 600px;
    height: 386px;
    border: 3px solid #BB945F;
    background: #FFF;
    padding: 18px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width : 640px) {
    .library-cards__form {
        max-width: 600px;
        width: 100%;
    }
}

.library-cards__box-form {
    box-sizing: border-box;
    width: 560px;
    height: 272px;
    padding: 20px;
    background: #BB945F;
}

.library-cards__name-form {
    margin-bottom: 20px;
    color: #000;
    font-family: Forum;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.6px;
}

@media screen and (max-width : 640px) {
    .library-cards__name-form {
        font-size: 25px;

    }

    .library-cards__box-form {
        max-width: 560px;
        width: 100%;
    }
}

.library-cards__input {
    display: block;
    box-sizing: border-box;
    margin-bottom: 25px;
    width: 520px;
    height: 66px;

    border-radius: 10px;
    background: #FFF;
    border: none;
    outline: none;
    padding: 8px 20px;
}

@media screen and (max-width : 640px) {
    .library-cards__input {
        max-width: 520px;
        width: 100%;
    }
}

.library-cards__input::placeholder {
    color: #8E8E8E;
    font-family: Forum;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.6px;
}

.library-cards__submit-button {
    display: block;
    width: 242px;
    height: 44px;
    margin: 19px auto;

    background: #FFF;

    border-radius: 2px;
    border: 1px solid #0C0C0E;

    color: #0C0C0E;
    text-align: center;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;

    transition: 0.5s ease-in;
}

.library-cards__submit-button:hover {
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #BB945F;
}

.library-cards__right {
    position: relative;
    width: 33%;
    height: 253px;
}

.library-cards__right__heading {
    margin: 0;
    margin-bottom: 35px;

    color: #000;
    text-align: right;
    font-family: Forum;
    font-size: 30px;
    letter-spacing: 0.6px;
}

@media screen and (max-width : 1024px) {
    .library-cards__right {
        width: 100%;
        height: 223px;
    }

    .library-cards__right__heading {
        text-align: center;
        margin-bottom: 40px;
    }
}

@media screen and (max-width : 640px) {
    .library-cards__right {
        width: 100%;
        height: 280px;
    }
}

.library-cards__right__text {
    margin-bottom: 35px;

    color: #000;
    text-align: right;
    line-height: 40px;
    letter-spacing: 0.4px;
}

.library-cards__button__container {
    display: flex;
    gap: 20px;
    justify-content: end;
}

.library-cards__button {
    width: 75px;
    height: 30px;

    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: #FFF;

    color: #0C0C0E;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;

    transition: 0.5s ease-in;
}

.library-cards__button:hover {
    border-radius: 2px;
    border: 1px solid #BB945F;
    background: #BB945F;
}

@media screen and (max-width : 1024px) {

    .library-cards__right__text {
        width: 78%;
        margin: 0 auto 35px;
        text-align: center;
    }

    .library-cards__right__text {
        margin-bottom: 40px;
    }

    .library-cards__button__container {
        justify-content: center;
    }
}

/* ---------------footer--------------- */

footer {
    box-sizing: border-box;
    padding: 20px 20px 44px;
    background: #0C0C0E;
}

address {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #FFF;
}

.address {
    width: 229px;
    margin-bottom: 10px;
}

.address a {

    text-decoration: none;
    color: #FFF;
    font-size: 15px;
    line-height: 20px;
}

.timetable div {
    margin-bottom: 11px;
    color: #FFF;
    text-align: right;
    font-size: 15px;
    line-height: 20px;
}

.social-media {
    display: flex;
    gap: 15px;
    padding: 0;

}

.footer-rss {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer-rss__years {
    display: block;


    color: #FFF;
    text-align: center;
    line-height: 20px;
    letter-spacing: 2px;
}

.footer-rss__a {
    display: block;
    margin: 0;
    text-decoration: none;

    color: #FFF;
    text-align: center;
    line-height: 40px;
    letter-spacing: 2px;
}

/* ---------------pop-up-------------- */

.pop-up {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    background-color: #0c0c0e8e;
    z-index: 100;

    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.3px;
    transition: all 0.7s ease;
}

.pop-up_opened {
    visibility: visible;
    opacity: 1;
}

.pop-up__window {
    box-sizing: border-box;
    width: 250px;
    position: relative;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 25px;
}

.login {
    height: 262px;
}

.register {
    height: 382px;
}

.pop-up__heading {
    display: block;
    color: #000;
    font-family: Forum;
    font-size: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.pop-up__close {
    width: 18px;
    height: 18px;
    background-image: url(./img/pop-up/close_btn.svg);
    position: absolute;
    top: 13px;
    right: 15px;
    cursor: pointer;
    opacity: 1;
}

.pop-up__close:hover {
    background-image: url(./img/pop-up/close_btn\ copy.svg);
}

.pop-up-form {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.input-field {
    box-sizing: border-box;
    height: 20px;
    border: 1px solid #BB945F;
}

.pop-up__button {
    margin-top: 10px;
    width: 75px;
    height: 30px;

    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
}

.form-checked {
    display: flex;
    gap: 10px;
    align-items: center;

    font-size: 10px;
    line-height: normal;
    letter-spacing: 0px;
}

.pop-up label span {
    display: block;
    margin-bottom: 10px;
}

.form-link {
    color: #0C0C0E;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration-line: none;
    line-height: normal;
    border-bottom:1px solid #000;
    cursor: pointer;
    transition: all 0.5s ;
}

.form-link:hover {
    color: #BB945F;
    border-color: #BB945F;
}